@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Permanent+Marker&family=Sniglet&display=swap");

@font-face {
  font-family: "Francois One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/francois-one-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/francois-one-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/francois-one-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/francois-one-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/francois-one-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/francois-one-v15-latin-regular.svg#FrancoisOne")
      format("svg"); /* Legacy iOS */
}

#subtitleTurismo1 {
  font-family: "Lobster", cursive;
  color: #186a51;
}

#subtitleTurismo {
  font-family: "Lobster", cursive;
  color: #186a51;
}

#subtitleCabaña1 {
  font-family: "Permanent Marker", cursive;
  color: #186a51;
}

#subtitleCabaña {
  font-family: "Permanent Marker", cursive;
}

#subtitleManualidad1 {
  font-family: "Lobster Two", cursive;
  color: #186a51;
}

#subtitleManualidad {
  font-family: "Lobster Two", cursive;
}

#subtitleInmueble1 {
  font-family: "Sniglet", cursive;
  color: #186a51;
}

#subtitleInmueble {
  font-family: "Sniglet", cursive;
}
