#image_index {
  background-image: url(/images/index_image.jpg);
  height: 500px;
  width: 100%;
  background-color: #86d39f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  width: 100%;
}

#body_login {
  margin: 0;
  padding: 0;
  background-color: #86d39f;
  height: 100vh;
}
#login #cont #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid white;
  background-color: white;
}
#login #cont #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login #cont #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#image_card{
  background-image: url(/images/index_image.jpg);
  height: 180px;
  width: 100%;
  background-color: #86d39f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#image_card_1{
  background-image: url(/images/perfil.jpg);
  height: 180px;
  width: 100%;
  background-color: #86d39f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}