#image_index {
  background-image: url(/images/index_image.jpg);
  height: 500px;
  width: 100%;
  background-color: #86d39f;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/francois-one-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/francois-one-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/francois-one-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/francois-one-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/francois-one-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/francois-one-v15-latin-regular.svg#FrancoisOne') format('svg'); /* Legacy iOS */
}


#subtitle{
  color: #203728;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  width: 100%;
}

#body_login {
  margin: 0;
  padding: 0;
  background-color: #86d39f;
  height: 100vh;
}
#login #cont #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid white;
  background-color: white;
}
#login #cont #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login #cont #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#image_card{
  background-image: url(/images/index_image.jpg);
  height: 180px;
  width: 100%;
  background-color: #86d39f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#image_card_1{
  background-image: url(/images/perfil.jpg);
  height: 180px;
  width: 100%;
  background-color: #86d39f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Verdana;
  font-family: 'PT Sans'; /* Otro ejemplo */
}